MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/lash-booking?retryWrites=true&w=majority
JWT_SECRET=<remplace_par_une_chaine_aleatoire_longue>
ALLOWED_ORIGIN=http://localhost:3000
NODE_ENV=development
